*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

.bash_history
.bash_logout
.cache
.calcurse/.calcurse.pid
.calcurse/notes
.calcurse/apts
.dmrc
.esd_auth
.fehbg
.lesshst
.local
.lyris
.pki
.test
.vim
.viminf*
.wget-hsts

guide.txt
todo.txt

.config/chromium
.config/pulse
.config/spotify
Downloads
Git
LaTeX
Mail
PDFS
Programming
Screenshots
University
TV
.mutt
.ssh
.tmux

pkg/
src/
